<div class="containe">
    <div class="forms-container">
        <div class="signin">
            <form action="menu.html" class="sign-in connect-form">
                <div>
                    <h2 class="title">Connection</h2>
                </div>
                <div class="input-field">
                    <div class="icon">
                        <i class="fas fa-user"></i>
                    </div>
                    <input id="identifiant" type="text" name="identifiant" placeholder="Votre identifiant">
                </div>
                <div>
                    <input type="submit" value="Connection" class="btn solid">
                </div>
                
            </form>


            <form action="menu.html" class="sign-in sign-in-form">
                <div>
                    <h2 class="title">Inscription</h2>
                </div>
                <div class="input-field">
                    <div class="icon">
                        <i class="fas fa-user"></i>
                    </div>
                    <input id="pseudo" type="text" name="pseudo" placeholder="Votre pseudonyme" />
                </div>
                <div>
                    <button onclick="inscription()" type="submit" class="btn solid">Inscription</button>
                </div>
                
            </form>

        </div>
    </div>

    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <h3>Puissance 4</h3>
                <p>Si vous n'est pas encore inscrit</p>
                
                <button id="connect-btn" class="btn transparent">S'inscription</button>
            </div>
            <img src="../img/undraw_gaming_6oy3.svg" alt="" class="image">
        </div>

        <div class="panel right-panel">
            <div class="content">
                <h3>Puissance 4</h3>
                <p>Si vous est déjà inscrit</p>
                <button id="inscrip-btn" class="btn transparent">Se connecter</button>
            </div>
            <img src="../img/undraw_video_game_night_8h8m.svg" alt="" class="image">
        </div>

    </div>

</div>